<%- include('../partials/header') %>

    <h2>Add a Book</h2>
    <form id="new-book-form" action="/books" method="POST">
        <label>Title</label>
        <input type="text" name="title"><br>&nbsp;<br>
        <label>Author</label>
        <input type="text" name="author"><br>&nbsp;<br>
        <label>Genre</label>
        <select name="genre">
    <option value=""></option>
    <option value="Fantasy">Fantasy</option>
    <option value="General Fiction">General Fiction</option>
<option value="General Non-Fiction">General Non-Fiction</option>
    <option value="Horror">Horror</option>
    <option value="Humor">Humor</option>
<option value="Literature">Literature</option>				
<option value="Manual">Manual</option>
<option value="Mystery">Mystery</option>
				<option value="Reference">Reference</option>
				<option value="Religion">Religion</option>
    <option value="Speculative Fiction">Speculative Fiction</option>
						  </select><br>&nbsp;<br>
        <label id="pubdate" for="pubDate">Publishing Date<br>
            <input type="date" name="pubDate">
        </label><br>&nbsp;<br>
        <input type="submit" value="Add Book">
    </form>

    <%- include('../partials/footer') %>