<%- include('./partials/header') %>

    <h1>Project Palanthas</h1>
    <img src="https://i.imgur.com/ZKpSh7B.jpg" width=870 height=560>
    <h2>A Virtual Library & Annotation Annex</h2>
    <%- include('./partials/footer') %>