<%- include('./partials/header') %>
    <div id="landing-page"></div>
    <h1>Palanthas</h1>
    <img id="landing-book" src="public/images/landing-image.jpg">
    <h3>A Virtual Library-Annotation Resource</h3>
    </div>
    <%- include('./partials/footer') %>