<%- include('./partials/header') %>

    <nav>
        <a href="/">HOME</a>&nbsp;|&nbsp;
        <a href="/">Browse Books</a>&nbsp;|&nbsp;
        <a href="/">Add a Book</a>&nbsp;|&nbsp;
        <a href="/">Your Bookshelf</a>&nbsp;|&nbsp;
        <a href="/">Log In</a>&nbsp;|&nbsp;
        <a href="/">Log Out</a>
    </nav>

    <h1>Welcome to the Library</h1>
    <h2>"The Next Best Thing to Alexandria"</h2>

    <%- include('./partials/footer') %>