body {
    margin-top: 5vh;
    padding-left: 50px;
    font-family: 'Noto Sans';
    background: black;
    color: lightgrey;
}

a {
    color: black;
    font-weight: bold;
}

a:link,
a:visited {
    text-decoration: none;
}

body>nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

body>nav>div {
    display: grid;
    justify-items: center;
    align-items: space-between;
    margin-top: 1vh;
    padding: 0.5vh;
    justify-content: center;
    text-align: center;
}

nav>img {
    width: 34px;
    object-fit: contain;
}

main {
    margin-left: 100px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
}

.login img {
    height: 30px;
}

.icon img {
    height: 50px;
    width: 50px;
}

#edit-book,
#list-title {
    color: lightgrey;
}

#new-book-form,
#edit-book-form {
    display: grid;
    grid-template-rows: 5;
    justify-content: left;
}

#list-book {
    margin: 5px;
    height: 40px;
    width: 40px;
}

#pubdate,
#edit-pubdate {
    display: grid;
    justify-content: stretch;
}

#headshot {
    border-radius: 10%;
    border: solid 1px lightgrey;
}

#landing-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#landing-book {
    width: 360px;
    height: 240px;
}

#title-search {
    display: grid;
    grid-template-columns: 2;
}

#book-on-shelf {
    font-size: 8pt;
    font-style: normal;
    display: flex;
    flex-direction: inline;
    align-items: center;
}

#remove-book,
#remove-review,
#remove-shelf {
    margin: 0.5vh 0.5vh 0.5vh 0vh;
    border-radius: 25%;
    background-color: black;
    color: lightgrey;
    border-color: black;
}

#remove-shelf {
    margin: 0.5vh 0.5vh 0.5vh -0.5vh;
}

.content-text,
#create-title,
#add-title,
#add-shelf,
#add-review-form,
#edit-book {
    margin: 0.5vh;
    background-color: black;
    color: lightgrey;
    border-radius: 2.5%;
    border-color: black;
}

#remove-shelf {
    scale: 75%;
}

input[type=text],
input[type=date],
input[name="name"],
input[name="notes"],
input[name="title"],
select {
    background-color: black;
    color: lightgrey;
}

#home, #books, #new, #shelves, #logout, #add, #collection, #sign-in > a:hover{
    background: #fff,
    color: #000;
}

.navbar {
  position: fixed !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

@media only screen and (min-width: 400px) and (max-width: 768px) {
    body>nav>div {
        display: grid;
        grid-template-columns: 1;
        justify-items: center;
        margin-top: 0.25vh;
        padding: 0.5vh;
        justify-content: center;
        text-align: center;
    }
    #landing-book {
        width: 200px;
        height: 150px;
    }
}
