body {
    margin-top: 5vh;
    padding-left: 50px;
    font-family: 'Noto Sans';
    background: black;
    color: lightgrey;
}

a {
    color: black;
    font-weight: bold;
}

a:link,
a:visited {
    text-decoration: none;
}

body>nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body>nav>div {
    display: grid;
    justify-items: center;
    margin-top: 1vh;
    padding: 0.5vh;
    justify-content: center;
    text-align: center;
}

nav>img {
    width: 34px;
    object-fit: contain;
}

main {
    margin-left: 100px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
}

.login img {
    height: 30px;
}

.icon img {
    height: 50px;
    width: 50px;
}

#edit-book,
#list-title {
    color: lightgrey;
}

#new-book-form,
#edit-book-form {
    display: grid;
    grid-template-rows: 5;
    justify-content: left;
}

#list-book {
    margin: 5px;
    height: 40px;
    width: 40px;
}

#pubdate,
#edit-pubdate {
    display: grid;
    justify-content: stretch;
}

#headshot {
    border-radius: 10%;
    border: solid 1px lightgrey;
}

#landing-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#landing-book {
    width: 480px;
    height: 360px;
}

#shelf-notes {
    text-decoration: underline;
}

#title-search {
    display: grid;
    grid-template-columns: 2;
}

#book-on-shelf {
    font-size: 8pt;
    font-style: normal;
    display: flex;
    flex-direction: inline;
}

#remove-book,
#remove-review {
    border-radius: 25%;
}

#remove-shelf,
#add-title,
#add-shelf,
#edit-book {
    background-color: black;
    color: lightgrey;
    border-radius: 2.5%
}

input[type=text],
input[type=date],
input[name="name"],
input[name="notes"],
input[name="title"],
select {
    background-color: black;
    color: lightgrey;
}

@media only screen and ( max-width: 768px) {}