body {
    padding: 50px;
    font: 14px sans-serif;
}

a {
    color: #2e2694;
    font-weight: bold;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
}

.login img {
    height: 30px;
}

body>nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background: rgb(210, 170, 130);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

body>nav>div {
    display: grid;
    justify-items: center;
    margin-top: 10px;
}

#new-book-form {
    display: grid;
    grid-template-rows: 5;
    justify-content: left;
}

#book-list-header {
    text-decoration: underline;
}

#pubdate {
    display: grid;
    justify-content: stretch;
}

#shelf-list {
    display: flex;
}

nav>img {
    width: 34px;
    object-fit: contain;
}

main {
    margin-left: 150px;
}